<nav class="nav-bar">
  <div class="">
    <a class="" href="/">Reddit.js</a>
      <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>
    <div class="" id="navbarSupportedContent">
      {{#if currentUser}}
      <ul class="">
        <li><a href="/posts/new" class="">New Post</a></li>
      </ul>
      {{/if}}
    </div>
    <ul class="">
      {{#if currentUser }}
        <li><a href="/logout" class="">Logout</a></li>
      {{else}}
        <li><a href="/login" class="">Login</a></li>
        <li><a href="/sign-up" class="">Sign Up</a></li>
      {{/if}}
    </ul>
  </div>
</nav>