<nav class="nav-bar">
  <div class="nav-bar-contents">
    <span class="logo"></span>
    <div class="nav-buttons">
      <a class="home" href="/">Home</a>
      <div class="nav-items">
        {{#if currentUser }}
          <a href="/posts/new" class="nav-button">New Post</a>
          <a href="/logout" class="nav-button">Logout</a>
        {{else}}
          <a href="/login" class="nav-button">Login</a>
          <a href="/sign-up" class="nav-button">Sign Up</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>