<div >
  <div >
    <form action="/posts/new" method="post">
      <legend>New Post</legend>
      <div >
        <label for="post-title">Title</label>
        <input
          type="text"
          name="title"
          
          id="post-title"
          placeholder="Title"
        />
      </div>
      <div >
        <label for="post-url">Url</label>
        <input
          type="url"
          name="url"
          
          id="post-url"
          placeholder="https://www.google.com"
        />
      </div>
      <div >
        <label for="post-summary">Summary</label>
        <textarea
          name="summary"
          
          id="post-summary"
          placeholder="Summary"
        ></textarea>
      </div>
      <div >
        <label for="post-subreddits">Subreddits</label>
        <input 
          name="subreddits" 
          type="text" 
           
          id="post-subreddits" 
          placeholder="Subreddits - comma separated for multiple subreddits">
      </div>
      <div >
        <button type="submit" >Create Post</button>
      </div>
    </form>
  </div>
</div>