<div class="">
  <div class="reply-main">
    <form action="/posts/{{post._id}}/comments/{{comment._id}}/replies" method="post">
      <div class="reply-text">
        <textarea name="content" class="" id="reply-content" placeholder="Reply"></textarea>
      </div>
      <div class="reply-submit-button">
        <button type="submit" class="">Reply</button>
      </div>
    </form>
  </div>
</div>