<div class="">
  <div class="">
    <form action="/sign-up" method="post">
      <legend>New User</legend>
      <div class="">
        <label for="user-username">Username</label>
        <input
          type="text"
          name="username"
          class=""
          id="user-username"
          placeholder="Username"
        />
      </div>
      <div class="">
        <label for="user-password">Password</label>
        <input
          type="text"
          name="password"
          class=""
          id="user-password"
          placeholder="password"
        />
      </div>
      <div class="">
        <button type="submit" class="">Create User</button>
      </div>
    </form>
  </div>
</div>
